.statusmsg {
  background-color: rgb(38, 181, 81);
  color: white;
  padding: 10px;
  margin: 20px;
  width: 20%;
}

.errormsg {
  background-color: rgb(171, 0, 0);
  color: white;
  border-color: blueviolet;

  padding: 10px;
  margin: 20px;
  width: 20%;
}
